:root {
  --text-font: Roboto;
  --color: rgb(15, 187, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: var(--text-font);
    font-size: 30px;
    margin: 0;
    padding: 0;
}


.container{
    
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 5fr;
    
  
}

.sidebar{
    background-color: var(--color);
    
    color: white;
    font-weight:bold;
    grid-area: 1/ 1 / 3 / 2;
}

.header{
    grid-area: 1/ 2 / 2 / 3;
    padding: 10px;
    box-shadow: 0px 4px 5ch rgba(0, 0, 0, 0.3);
    z-index: 10;

    
    
    
}

.article{
    grid-area: 2/ 2 / 3 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(238, 238, 238);
    padding: 30px 50px 60px 40px;
    gap:40px;
}

.lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navigate ul{
    display: flex;
    
    gap: 20px
}

.navigate ul button{
    background: none;
    border: none;
    padding: 15px 50px 15px 50px;
    margin: 0;
    cursor: pointer;
    color: white;
    background-color: var(--color);
    border-radius: 70px;
    font-size: 25px;
    font-family: var(--text-font);



}
button:hover {
    color: grey;          
}

.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 100px;
}

.lower{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 30px 100px 10px 50px;
}
.lower_left{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 5fr;
    font-weight:900;
}
.lower_left img{
    grid-area: 1/ 1 / 3 / 2;
    
}

.lower_left p:first-of-type {
    grid-area: 1/ 2 / 2 / 3;
    font-size: 20px;
    margin-top: 25px;
}

.lower_left p:nth-of-type(2){
    
    grid-area: 2/ 2 / 3 / 3;
    font-size: 35px;
}

.upper div{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    gap: 30px
}

input[type="search"] {
  padding: 10px; /* Increases height */
  font-size: 16px; /* Scales the input */
 width: 1000px;
 background-color: rgb(236, 236, 236);
 border: none; 
 border-radius: 20px
}

.upper img, .lower img, .trending div div img{
   
  border-radius: 50%; 
  object-fit: cover; 
}
.upper img, .trending div div img{
    width: 70px;
    height: 70px;
}
.lower img{
    width: 120px;
    height: 120px;
}


.project{
    grid-area: 1/ 1 / 3 / 2;
    display: grid;
    grid-template-rows: 20px repeat(3, 400px);
    grid-template-columns: 1fr 1fr;
    gap:40px;

}

.announcement{
    grid-area: 1/ 2 / 2 / 3;
}
.trending{
    grid-area: 2 / 2 / 3 / 3;
}
.your_projects{
    grid-area: 1/ 1 / 2 / 3;
    
}

ul{
    list-style: none;
}

.icon {
    
  width: 40px;
  height: 40px;
  
}
.dashboard .icon{width: 70px;
  height: 70px;
  }

.dashboard .icon, .menu .icon{fill: white;}


.dashboard{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-size: 40px;
    gap: 20px;
    padding: 20px;
    margin-bottom: 30px;

}

.menu ul li{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 25px;
    padding: 15px 30px 15px 30px;
    
    
}

.menu ul{
    margin-bottom: 50px;
}

.card{
    background-color: white;
    border-radius: 20px;
    padding: 60px 30px 0px 30px;
    border-left: 20px solid orange;
    position: relative;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    height: 400px
    
    

    
}
.card p:first-of-type{
    margin-bottom: 5px;
}

.card p:first-of-type, .your_projects, 
.announcement > p, 
.trending > p, 
.announcement div p:nth-of-type(odd),
.trending div div p:nth-of-type(odd){
    font-weight: bold;
}
.announcement > p, .trending > p{
    margin-bottom: 20px;
}
.card p:nth-of-type(2), 
.announcement div p:nth-of-type(odd){
    font-size: 24px;
    
}

.announcement div p:nth-of-type(odd){
    padding-top: 20px;
    padding-bottom: 5px;
}
.announcement div p:nth-of-type(2n){
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(207, 207, 207);
}
.announcement div p:last-of-type{
 border-bottom: none;
}

.trending div div p{
    font-size: 24px;
}

.announcement div{
    background-color: white;
    border-radius: 20px;
    padding: 30px 50px 30px 50px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.trending div{
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    
}

.trending > div{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.trending div div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    }

.trending div div img{
    grid-area: 1 / 1 / 3 / 2;
}

.trending div div p:first-of-type {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 5px;
    margin-left: -15px;
}

.trending div div p:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 3;
    
    margin-left: -15px;
}

.add_button{
    position: absolute;
    bottom:50px;
    right: 50px;
    display: flex;
    gap: 40px
}
