:root {
  --text-font: Roboto;
  --color: rgb(15, 187, 255);
}
body{
    font-family: var(--text-font);
    font-size: 30px;
    margin: 0;
    padding: 0;
}


.container{
    
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 5fr;
    
  
}

.sidebar{
    background-color: var(--color);
    
    color: white;
    font-weight:bold;
    grid-area: 1/ 1 / 3 / 2;
}

.header{
    grid-area: 1/ 2 / 2 / 3;
    padding: 10px;
    
}

.article{
    grid-area: 2/ 2 / 3 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigate ul{
    display: flex;
    margin-top: -40px;
    gap: 50px
}

button{
    background: none;
    border: none;
    padding: 15px 50px 15px 50px;
    margin: 0;
    cursor: pointer;
    color: white;
    background-color: var(--color);
    border-radius: 70px;
    font-size: 25px;
    font-family: var(--text-font);



}
button:hover {
    color: grey;          
}

.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 100px;
}

.lower{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 30px 100px 10px 50px;
}
.lower_left{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 5fr;
    font-weight:900;
}
.lower_left img{
    grid-area: 1/ 1 / 3 / 2;
    
}

.lower_left p:first-of-type {
    grid-area: 1/ 2 / 2 / 3;
    font-size: 20px;
}

.lower_left p:nth-of-type(2){
    margin-top: -10px;
    grid-area: 2/ 2 / 3 / 3;
}

.upper div{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    gap: 30px
}

input[type="search"] {
  padding: 10px; /* Increases height */
  font-size: 16px; /* Scales the input */
 width: 1000px;
 background-color: rgb(236, 236, 236);
 border: none; 
 border-radius: 20px
}

.upper img, .lower img{
   
  border-radius: 50%; 
  object-fit: cover; 
}
.upper img{
    width: 70px;
    height: 70px;
}
.lower img{
    width: 120px;
    height: 120px;
}


.project{
    grid-area: 1/ 1 / 3 / 2;
    display: grid;
    grid-template-rows: 100px repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
}

.announcement{
    grid-area: 1/ 2 / 2 / 3;
}
.trending{
    grid-area: 2 / 2 / 3 / 3;
}
.your_projects{
    grid-area: 1/ 1 / 2 / 3;
}

ul{
    list-style: none;
}

.icon {
    fill: white;
  width: 40px;
  height: 40px;
  
}
.dashboard .icon{width: 70px;
  height: 70px;
  }

.upper .icon{fill: black;}

.dashboard{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-size: 40px;
    gap: 20px;
    padding: 20px}

.menu ul li{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 25px;
    margin:-10px
}